<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/bms_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'event_registration/main.css' %}" />
    <title>CodeIO</title>
</head>

<body>

    {% include 'event_registration/nav.html' %}

   

    {% block content %}


    {% endblock %}

    <!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>

</html>